.App {
  padding: 30px;
  display: flex;
  /* align-items: start; */
  gap: 120px;
}

.chartContainer {
  width: fit-content;
}

#showCountOfStock {
  color: black;
}

#title {
  color: black;
}

.interfaceContainer {
  /* top: 45px; */
  left: 600px;
  /* width: 50%; */
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

#money {
  position: relative;
  /* left: 200px; */
}

.tradeContainer {
  display: flex;
  gap: 400px;
}

.functionContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* position: fixed; */
  /* top: 100px; */
}

.counterContainer {
  /* width: 100px; */
  display: flex;
  border: 1px solid #000000;
  border-radius: 100px;
  overflow: hidden;
  width: 100px;
}

#counterButton {
  width: 30%;
  height: 100%;
  font-size: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#counterButton:hover {
  background-color: #f0f0f0;
}

#counterValue {
  width: 40%;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  border: none;
}

#cost {
}

#buy {
  /* width: 55px; */
  background-color: red;
  border-radius: 5px;
  color: #fff;
  /* width: 20%; */
}

#buy:active {
  background-color: #810000;
}

#sell {
  /* width: 55px; */
  /* width: 20%; */
  background-color: blue;
  border-radius: 5px;
  color: #fff;
}
#sell:active {
  background-color: #00007b;
}

.searchContainer {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* position: fixed;
  right: 100px;
  top: 100px; */
}

#searchInput {
  height: 28px;
}

#searchButton {
  height: 32px;
}

.searchResult {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px;
}
